<h2>Tenants</h2>

<div class="search">
<%= form_tag tenants_path, :method => 'get' do %>
	<%= hidden_field_tag :direction, params[:direction] %>
	<%= hidden_field_tag :sort, params[:sort] %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Last Name Search", :name => nil %>
		<span class="add_new"><%= link_to 'Add New Tenant', new_tenant_path %></span>
	</p>
<% end %>		
</div>
<div class="stats_tenants">Tenants in the system: <b><%= @tenant_count %></b></div>


<div class="results">
<%= render 'tenants' %>
</div>

<br />

<div class="end_link"><%= link_to 'New Tenant', new_tenant_path %></div>
